<main>
  <div id="detail-bet" class="card main-card-container">

   
  <%= render 'form', bet: @bet %>
      </div>
    </div>

 

    <br />

    <div>
      <%= link_to 'Back to bets', bets_path %>
    </div>
  </div>
</main>
