<div id="<%= dom_id user %>">
  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= user.username %>
  </p>

  <p>
    <strong>Balance:</strong>
    <%= user.balance %>
  </p>
</div>
